.containerImputText{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 8px;
    margin-top: 5px;
    flex-direction: column;
    display: flex;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerImputText input{
    background-color: transparent;
    outline: none;
    border: 0;
    font-size: 10px;
    color: #000;
}

.titleInput{
    font-size: 15px;
}

.containerImputText input::placeholder{
    color: #000;
}

.containerComponent{    
    padding: 10px;
    flex-direction: column;
    display: flex;
}

@media (max-width: 800px){
    .containerComponent{    
        padding: 5px;
        flex-direction: column;
        display: flex;
    }

}